<h1>Welcome to RockBuster! :)</h1>
<p>We rent good movies, like Titanic 2, A Car's Life, and Ratatoing!</p>
<div class="col-md-12">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <%= image_tag("cars.jpg") %>
		      <div class="carousel-caption">
		       	A Car's Life
		      </div>
		    </div>
		    <div class="item">
		      <%= image_tag("rat.jpg") %>
		      <div class="carousel-caption">
		        Ratatoing
		      </div>
		    </div>
		   <div class="item">
		      <%= image_tag("titanic.jpg") %>
		      <div class="carousel-caption">
		        Titanic 2
		      </div>
		    </div>
		     <div class="item">
		      <%= image_tag("panda.jpg") %>
		      <div class="carousel-caption">
		        Chop Kick Panda
		      </div>
		    </div>
		   <div class="item">
		      <%= image_tag("whatsUp.jpg") %>
		      <div class="carousel-caption">
		        What's Up balloon to the rescue
		      </div>
		    </div>
		  </div>

		  <!-- Controls -->
		  
		</div>
	</div>
	<div class="col-md-3"></div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-4">
			<h3>View Inventory</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id diam aliquam nibh hendrerit tristique vitae quis eros. Morbi a tincidunt tellus. Ut nunc mauris, tempus eget imperdiet quis, scelerisque et ante. Fusce ultricies vitae urna non tempor. Maecenas id lectus sapien. Sed nec dui placerat, auctor erat at, fringilla mi. Ut fermentum, sapien consectetur dignissim hendrerit, nisl mi egestas libero, in cursus velit nulla in velit.</p>
		</div>
		<div class="col-md-4">
			<h3>Make a Reservation</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id diam aliquam nibh hendrerit tristique vitae quis eros. Morbi a tincidunt tellus. Ut nunc mauris, tempus eget imperdiet quis, scelerisque et ante. Fusce ultricies vitae urna non tempor. Maecenas id lectus sapien. Sed nec dui placerat, auctor erat at, fringilla mi. Ut fermentum, sapien consectetur dignissim hendrerit, nisl mi egestas libero, in cursus velit nulla in velit.</p>
		</div>
		<div class="col-md-4">
			<h3>FAQ</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id diam aliquam nibh hendrerit tristique vitae quis eros. Morbi a tincidunt tellus. Ut nunc mauris, tempus eget imperdiet quis, scelerisque et ante. Fusce ultricies vitae urna non tempor. Maecenas id lectus sapien. Sed nec dui placerat, auctor erat at, fringilla mi. Ut fermentum, sapien consectetur dignissim hendrerit, nisl mi egestas libero, in cursus velit nulla in velit.</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>About Us</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id diam aliquam nibh hendrerit tristique vitae quis eros. Morbi a tincidunt tellus. Ut nunc mauris, tempus eget imperdiet quis, scelerisque et ante. Fusce ultricies vitae urna non tempor. Maecenas id lectus sapien. Sed nec dui placerat, auctor erat at, fringilla mi. Ut fermentum, sapien consectetur dignissim hendrerit, nisl mi egestas libero, in cursus velit nulla in velit. Suspendisse felis eros, efficitur in auctor sed, laoreet non dolor. Mauris placerat nibh dui, quis mollis augue imperdiet quis. Phasellus faucibus sapien a ultrices pulvinar. Sed semper arcu non arcu dignissim, sit amet maximus ipsum tempus. Suspendisse hendrerit sem eget mattis pellentesque. Sed vitae eros convallis, accumsan erat venenatis, aliquam lacus. Maecenas vel nibh non sem pellentesque tincidunt vel et orci. Sed enim est, tincidunt id ante id, aliquet posuere justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
</div>	